* {
  background-color: silver;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

nav a { 
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

nav a:hover {
   color: blue
}


.about_us {
  text-align: center;
}

.btn {
  background: blue;
  color: white;
  border:none;
  padding: 10px 10px;
  border-radius: 10px;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}